body {
	margin: 0;
	padding: 0;
	min-width: 960px;
	background-color: #ffffff;
	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding:  0 10px;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.btn {
	display: block;
	padding: 11px 0 9px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 3px;
}

.btn:hover {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

.main-header {
	padding-bottom: 60px;
	background-color: #f1f5f7;
}

.main-header .top-menu {
	background-color: #293449;
}

.main-header .top-menu .logo {
	position: relative;
	float: left;
	width: 220px;
	height: 42px;
}

.main-header .logo a {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 32px;
	padding-top: 10px;
	font-size: 24px;
	line-height: 24px;
	font-family: "Cuprum", "Arial", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
}

.main-header .logo a:hover {
	background-color: #ca2c37;
	border-bottom: 5px solid #9a212a;
}

.main-header .logo a:active {
	background-color: #ba2732;
	border-bottom: 5px solid #8e1e26;
}

.main-header .dexter {
	float: right;
	width: 720px;
}

.main-header .dexter input[type=text] {
	float: left;
	width: 181px;
	padding: 12px 49px;
	padding-right: 40px;
	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	border: none;
	background-color: #293449;
	outline: none;
}

.main-header .dexter input.search {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -3px -28px;
}

.main-header .dexter input:hover.search {
	cursor: text;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -3px -128px;
	background-color: #212a3a; 
}

.main-header .dexter input:focus.search {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -3px -228px;
	background-color: #ffffff;
	color: #000000;
}

.main-header .dexter :hover::-webkit-input-placeholder {color: #ffffff}
.main-header .dexter :hover::-moz-placeholder          {color: #ffffff}
.main-header .dexter :hover:-moz-placeholder           {color: #ffffff}
.main-header .dexter :hover:-ms-input-placeholder      {color: #ffffff}

.main-header .dexter .same {
	position: relative;
	float: left;
	width: 106px;
	padding: 12px 0;
	padding-left: 44px;
	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	text-decoration: none;
}

.main-header .dexter .same:hover {
	background-color: #212a3a;
}

.main-header .dexter .same:active {
	color: #a2a5a9;
	background-color: #161d29;
}

.main-header .dexter .bookmark::before,
.main-header .dexter .basket::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 14px;
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.main-header .dexter .bookmark::before {
	background-position: -317px -40px;	
}

.main-header .dexter .basket::before {
	background-position: -317px -140px;	
}

.main-header .dexter .bookmark:hover::before,
.main-header .dexter .basket:hover::before {
	opacity: 1;
}

.main-header .dexter .bookmark:active::before,
.main-header .dexter .basket:active::before {
	opacity: 0.3;
}

.main-header .dexter .order {
	float: right;
	width: 130px;
	padding: 12px 0;
	padding-left: 20px;
	text-decoration: none;
	color: #ffffff;
	background-color: #63a63e;
}

.main-header .dexter .order:hover {
	background-color: #5fbb2d;
}

.main-header .dexter .order:active {
	color: #aac39b;
	background-color: #518534;
}

.main-header .top-blocks .same {
	float: left;
	margin-right: 20px;	
} 

.main-header .top-blocks .description {
	width: 197px;
	min-height: 109px;
	padding: 49px 51px 0 52px;
}

.main-header .description p {
	margin: 0;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.main-header .top-blocks .communications {
	width: 300px;
	min-height: 112px;
	padding-top: 46px;
}

.main-header .communications .phone {
	position: relative;
	display: block;
	width: 193px;
	padding: 8px 0 10px 71px;
	font-size: 21px;
	line-height: 22px;
	color: #e9292a;
	border: 3px solid #ffffff;
}

.main-header .communications .phone:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 12px;
	width: 19px;
	height: 19px;
	background-color: transparent;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -320px -240px;
}

.main-header .communications .address {
	display: inline-block;
	padding: 4px 10px 0;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.main-header .top-blocks .user-block {
	float: right;
	width: 280px;
	min-height: 112px;
	padding: 46px 0 0 20px;
}

.main-header .user-block .login {
	position: relative;
	display: inline-block;
	float: left;
	width: 72px;
	padding: 11px 0;
	padding-left: 48px;
	font-size: 21px;
	line-height: 22px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
}

.main-header .user-block .login:hover {
	color: #ee3643;
}

.main-header .user-block .login:active {
	color: #cacaca;
}

.main-header .user-block .login::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 15px;
	width: 20px;
	height: 17px;
	background-color: transparent;
	background-image: url("../img/sprite.png");
	background-position: -20px -340px;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.main-header .user-block .login:hover::before {
	opacity: 1;
}

.main-header .user-block .login:active::before {
	opacity: 0.3;
}

.main-header .user-block .registration {
	float: right;
	display: block;
	width: 125px;
	padding: 10px 0;
	padding-left: 25px;
	font-size: 21px;
	line-height: 22px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
} 

.main-header .user-block .registration:hover {
	color: #ee3643;
}

.main-header .user-block .registration:active {
	color: #cacaca;
}

.main-header .top-blocks .main-navigation {
	width: 888px;
	padding: 0;
	padding-left: 26px;
	padding-right: 26px;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.main-header .main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-header .main-navigation li {
	display: inline-block;
	font-size: 17px;
	line-height: 18px;
} 

.main-header .main-navigation a {
	display: block;
	padding:  20px 30px 17px;
	text-decoration: none;
	color: #ffffff;
}

.main-header .main-navigation a:hover,
.main-navigation .active a {
	background-color: #293449;
}

.main-header .main-navigation a:active {
	color: #a1a4a8;
	background-color: #1d2739;
}


.main-content .blocks {
	padding-top: 59px;
	padding-bottom: 53px;
}

.main-content .blocks .block-item {
	position: relative;
	float: left;
	width: 277px;
	min-height: 101px;
	margin-right: 20px;
	padding: 22px 0 0 23px;
}

.main-content .block-item:nth-child(1) {
	background-color: #f6b22d;
}

.main-content .block-item:nth-child(2) {
	background-color: #4aafde;
}

.main-content .block-item:nth-child(3) {
	margin: 0;
	background-color: #cc79d1;
}

.main-content .block-item:nth-child(5) {
	float: right;
	margin: 0;
	margin-top: 20px;
	background-color: #85d179;
}

.main-content .block-item:nth-child(6) {
	float: right;
	margin: 0;
	margin-top: 20px;
	background-color: #f6b22d; 
}

.main-content .block-item:before,
.main-content .block-item:after {
	content: "";
	position: absolute;
	display: block;
	background-image: url("../img/pictures.png");
	background-repeat: no-repeat;
}

.main-content .block-item:nth-child(1):before {
	top: 0;
	right: 0;
	width: 60px;
	height: 59px;
	background-position: -20px -20px;
}

.main-content .block-item:nth-child(1):after {
	top: 31px;
	right: 43px;
	width: 44px;
	height: 65px;
	background-position: -20px -200px;
}

.main-content .block-item:nth-child(2):after {
	top: 33px;
	right: 28px;
	width: 75px;
	height: 61px;
	background-position: -200px -200px;
}

.main-content .block-item:nth-child(3):after {
	top: 31px;
	right: 31px;
	width: 78px;
	height: 62px;
	background-position: -380px -200px;
}

.main-content .block-item:nth-child(5):after {
	top: 26px;
	right: 45px;
	width: 59px;
	height: 72px;	
	background-position: -560px -200px;
}

.main-content .block-item:nth-child(6):after {
	top: 32px;
	right: 31px;
	width: 78px;
	height: 63px;
	background-position: -740px -200px;
}

.main-content .block-item .block-title {
	font-size: 24px;
	line-height: 30px;
}

.main-content .block-item .block-description {
	display: block;
	width: 135px;
	margin-top: 13px;
	padding: 11px 0 9px;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.1);
}

.main-content .block-item .block-description:hover {
	background-color: rgba(0, 0, 0, 0.2);	
}

.main-content .block-item .block-description:active {
	background-color: rgba(0, 0, 0, 0.3);	
}

.main-content .gallery {
	position: relative;
	float: left;
	height: 266px;
	margin-top: 20px;
	margin-right: 20px;
}

.main-content .gallery .gallery-second {
	display: none;
}

.main-content .gallery .gallery-content {
	height: 266px;
	margin: 0;	
}

.main-content .gallery-content .gallery-title {
	position: absolute;
	top: 17px;
	left: 25px;
	margin: 0;
	font-size: 36px;
	line-height: 37px;
	color: #ffffff;
}

.main-content .gallery-content .gallery-description {
	position: absolute;
	top: 60px;
	left: 26px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.main-content .gallery-content .gallery-picture {
	width: 620px;
	height: 266px;	
}

.main-content .gallery-content .gallery-catalog {
	position: absolute;
	bottom: 22px;
	left: 25px;
	width: 195px;
	text-decoration: none;
}

.main-content .gallery .gallery-prev {
	position: absolute;
	top: 114px;
	left: 25px;
	cursor: pointer;
}

.main-content .gallery .gallery-next {
	position: absolute;
	top: 114px;
	right: 25px;
	cursor: pointer;
}

.main-content .gallery .alignments {
	position: absolute;
	bottom: 36px;
	left: 295px;
}

.main-content .alignments .dot {
	position: relative;
	height: 10px;
	width: 10px;
	margin-right: 6px;
	background-color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.main-content .alignments .active,
.main-content .alignments .dot:hover {
	height: 6px;
	width: 6px;
	border: 2px solid #ffffff;
	background-color: #ee3643;
}

.main-content .category .popular {
	width: 892px;
	padding: 25px 24px 26px;
	background-color: #f7f3ec;
}

.main-content .category .popular-title {
	float: left;
	margin: 6px 0 0 5px;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.main-content .category .popular-button {
	float: right;
	width: 253px;
	text-decoration: none;
}

.main-content .category .goods {
	padding: 20px 0 20px;
}

.main-content .goods .same::before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	display: block;
	width: 60px;
	height: 59px;
	background-position: -20px -20px;
	background-image: url("../img/pictures.png");
	background-repeat: no-repeat;
}

.main-content .goods .goods-item {
	float: left;
	width: 218px;
	min-height: 316px;
	margin-right: 20px;
	border: 1px solid #e5e5e5;
}

.main-content .goods .goods-item:nth-child(4) {
	position: relative;
	float: right;
	margin: 0;
}

.main-content .goods .goods-item:nth-child(4)::before {
	
}

.main-content .goods .goods-item:hover {
	cursor: pointer;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	border-color: #ffffff;
}

.main-content .goods-item img {
	display: block;
}

.main-content .goods-item:hover img {
	display: none;
}

.main-content .goods-item .goods-block {
	display: none;
	padding:  45px 0 36px 42px;
}

.main-content .goods-item:hover .goods-block {
	display: block;
}

.main-content .goods-block .goods-buy {
	position: relative;
	display: inline-block;
	width: 135px;
	padding: 12px 0 8px;
	font-size: 14px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	background-color: #63a63e;
	border-bottom: 3px solid #367315;
	border-radius: 3px;
}

.main-content .goods-block .goods-buy:hover {
	background-color: #5fbb2d;
}

.main-content .goods-block .goods-buy:active {
	background-color: #518534;
	border-color: #518534;
}

.main-content .goods-block .goods-buy::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	background-image: url("../img/sprite.png");
	background-position: -317px -140px;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.main-content .goods-block .goods-buy:hover::before {
	opacity: 1;
}

.main-content .goods-block .goods-bookmark {
	display: inline-block;
	width: 129px;
	margin-top: 7px;
	padding: 11px 0;
	font-size: 14px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #32425c;
	border: 3px solid #63a63e;
	border-radius: 3px;
}

.main-content .goods-block .goods-bookmark:hover {
	border-color: #32425c;
}

.main-content .goods-block .goods-bookmark:active {
	opacity: 0.3;
}

.main-content .goods-length {
	min-height: 70px;
	padding-top: 6px;	
}

.main-content .goods-length .goods-title {
	display: block;
	font-size: 18px;
	line-height: 20px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.main-content .goods-length .goods-old {
	display: block;
	margin: 12px 0 0;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #999999;
}

.main-content .goods-item .goods-new {
	position: relative;
	display: inline-block;
	width: 122px;
	margin: 10px 0 0 42px;
	padding: 10px 0;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 3px 0 0 3px;
}

.main-content .goods-item .goods-new:after {
	content: "";
	position: absolute;
	right: -38px;
	top: 0;
	border: 19px solid transparent;
	border-left: 19px solid #ee3643;
}

.main-content .producer {
	padding: 20px 0 85px;	
}

.main-content .producer .producer-indent:nth-child(1) {
	margin-bottom: 20px;
}

.main-content .producer .producer-item {
	float: left;
	width: 218px;
	min-height: 143px;
	margin-right: 20px;
	border: 1px solid #e5e5e5;
}

.main-content .producer .producer-item:hover {
	cursor: pointer;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	border-color: #ffffff;
}

.main-content .producer .producer-item:active {
	opacity: 0.3;
}

.main-content .producer .producer-item:nth-child(4) {
	float: right;
	margin: 0;
}