body {
	margin: 0;
	padding: 0;
	min-width: 960px;
	background-color: #ffffff;
	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding:  0 10px;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	padding-bottom: 60px;
	background-color: #f1f5f7;
}

.main-header .top-menu {
	background-color: #293449;
}

.main-header .top-menu .logo {
	position: relative;
	float: left;
	width: 220px;
	height: 42px;
}

.main-header .logo a {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 32px;
	padding-top: 10px;
	font-size: 24px;
	line-height: 24px;
	font-family: "Cuprum", "Arial", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
}

.main-header .logo a:hover {
	background-color: #ca2c37;
	border-bottom: 5px solid #9a212a;
}

.main-header .logo a:active {
	background-color: #ba2732;
	border-bottom: 5px solid #8e1e26;
}

.main-header .dexter {
	float: right;
	width: 720px;
}

.main-header .dexter input[type=text] {
	float: left;
	width: 181px;
	padding: 12px 49px;
	padding-right: 40px;
	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	border: none;
	background-color: #293449;
	outline: none;
}

.main-header .dexter input.search {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -3px -28px;
}

.main-header .dexter input:hover.search {
	cursor: text;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -3px -128px;
	background-color: #212a3a; 
}

.main-header .dexter input:focus.search {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -3px -228px;
	background-color: #ffffff;
	color: #000000;
}

.main-header .dexter :hover::-webkit-input-placeholder {color: #ffffff}
.main-header .dexter :hover::-moz-placeholder          {color: #ffffff}
.main-header .dexter :hover:-moz-placeholder           {color: #ffffff}
.main-header .dexter :hover:-ms-input-placeholder      {color: #ffffff}

.main-header .dexter .same {
	position: relative;
	float: left;
	width: 106px;
	padding: 12px 0;
	padding-left: 44px;
	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	text-decoration: none;
}

.main-header .dexter .same:hover {
	background-color: #212a3a;
}

.main-header .dexter .same:active {
	color: #a2a5a9;
	background-color: #161d29;
}

.main-header .dexter .bookmark::before,
.main-header .dexter .basket::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 14px;
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.main-header .dexter .bookmark::before {
	background-position: -317px -40px;	
}

.main-header .dexter .basket::before {
	background-position: -317px -140px;	
}

.main-header .dexter .bookmark:hover::before,
.main-header .dexter .basket:hover::before {
	opacity: 1;
}

.main-header .dexter .bookmark:active::before,
.main-header .dexter .basket:active::before {
	opacity: 0.3;
}

.main-header .dexter .order {
	float: right;
	width: 130px;
	padding: 12px 0;
	padding-left: 20px;
	text-decoration: none;
	color: #ffffff;
	background-color: #63a63e;
}

.main-header .dexter .order:hover {
	background-color: #5fbb2d;
}

.main-header .dexter .order:active {
	color: #aac39b;
	background-color: #518534;
}

.main-header .top-blocks .same {
	float: left;
	margin-right: 20px;	
} 

.main-header .top-blocks .description {
	width: 197px;
	min-height: 109px;
	padding: 49px 51px 0 52px;
}

.main-header .description p {
	margin: 0;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.main-header .top-blocks .communications {
	width: 300px;
	min-height: 112px;
	padding-top: 46px;
}

.main-header .communications .phone {
	position: relative;
	display: block;
	width: 193px;
	padding: 8px 0 10px 71px;
	font-size: 21px;
	line-height: 22px;
	color: #e9292a;
	border: 3px solid #ffffff;
}

.main-header .communications .phone:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 12px;
	width: 19px;
	height: 19px;
	background-color: transparent;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -320px -240px;
}

.main-header .communications .address {
	display: inline-block;
	padding: 4px 10px 0;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.main-header .top-blocks .user-block {
	float: right;
	width: 280px;
	min-height: 112px;
	padding: 46px 0 0 20px;
}

.main-header .user-block .login {
	position: relative;
	display: inline-block;
	float: left;
	width: 72px;
	padding: 11px 0;
	padding-left: 48px;
	font-size: 21px;
	line-height: 22px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
}

.main-header .user-block .login:hover {
	color: #ee3643;
}

.main-header .user-block .login:active {
	color: #cacaca;
}

.main-header .user-block .login::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 15px;
	width: 20px;
	height: 17px;
	background-color: transparent;
	background-image: url("../img/sprite.png");
	background-position: -20px -340px;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.main-header .user-block .login:hover::before {
	opacity: 1;
}

.main-header .user-block .login:active::before {
	opacity: 0.3;
}

.main-header .user-block .registration {
	float: right;
	display: block;
	width: 125px;
	padding: 10px 0;
	padding-left: 25px;
	font-size: 21px;
	line-height: 22px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
} 

.main-header .user-block .registration:hover {
	color: #ee3643;
}

.main-header .user-block .registration:active {
	color: #cacaca;
}

.main-header .top-blocks .main-navigation {
	width: 888px;
	padding: 0;
	padding-left: 26px;
	padding-right: 26px;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.main-header .main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-header .main-navigation li {
	display: inline-block;
	font-size: 17px;
	line-height: 18px;
} 

.main-header .main-navigation a {
	display: block;
	padding:  20px 30px 17px;
	text-decoration: none;
	color: #ffffff;
}

.main-header .main-navigation a:hover,
.main-navigation .active a {
	background-color: #293449;
}

.main-header .main-navigation a:active {
	color: #a1a4a8;
	background-color: #1d2739;
}